:root {
  --gray-100: #0a0f1a;
  --gray-200: #181f2e;
  --gray-300: #272f43;
  --gray-400: #363d56;
  --gray-500: #454f6a;
  --gray-600: #555f7d;
  --gray-700: #aab3cc;
  --gray-800: #cdd3e1;
  --gray-900: #e6e9f0;

  --text-default: #0a0f1a;
  --text-muted: #272f43;

  --link-color: #52a3e6;
  --link-hover: #2f7fc0;

  --primary-light: #7cbaed;
  --primary: #52a3e6;
  --primary-dark: #2f7fc0;

  --success: #22c55e;
  --warning: #eab308;
  --error: #f42929;
  --info: #0ea5e9;

  --text-over-primary: #0a0f1a;
  --text-over-primary-dark: #e6e9f0;
  --text-over-primary-light: #0a0f1a;
  --text-over-success: #22c55e;
  --text-over-warning: #eab308;
  --text-over-error: #f42929;
  --text-over-info: #0ea5e9;

  --text-default: #0a0f1a;
  --text-muted: #656873;

  --disabled: #555f7d;
  --text-disabled: #555f7d;
}
